Repository bgwastu/moonlit: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --max-warnings=0, bunx prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "bunx eslint --max-warnings=0",
    "bunx prettier --write"
  ],
  "*.{json,css,md}": "bunx prettier --write"
}

feat: improve mp3 export, add real-time progress
  src/components/DownloadModal.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: lyrics layout bug
  src/components/Player.tsx
  src/hooks/useLyrics.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: bug progress track area cannot be seek
  src/components/Player.tsx
  src/hooks/useStretchPlayer.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: add missing localforage package
  bun.lock
  package.json
Due: bunx prettier --write

fix: build error
  Dockerfile
  src/components/HistoryModal.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: stabilize cover size
  src/components/Player.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: add SOCKS5 and HTTP proxy support
  bun.lock
  env.example
  package.json
  src/app/api/stream/[token]/route.ts
  src/instrumentation.ts
  src/lib/proxy.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

ci: add GHCR publishing workflow
  .github/workflows/publish.yml
Due: none

docs: update README with GHCR quickstart and proxy docs
  README.md
Due: bunx prettier --write

ci: build multi-arch images (amd64, arm64)
  .github/workflows/publish.yml
Due: none

fix: use npm in Dockerfile for multi-arch compatibility
  .dockerignore
  .gitignore
  Dockerfile
  package-lock.json
Due: bunx prettier --write

fix: always include Range header when proxying YouTube stream URLs
  src/app/api/stream/[token]/route.ts
  src/lib/youtubei.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

refactor: streamline stream handling and introduce constants for chunk sizes
  src/app/api/stream/[token]/route.ts
  src/components/DownloadModal.tsx
  src/hooks/useStretchPlayer.ts
  src/lib/streamConstants.ts
  src/lib/streamProxy.ts
  src/lib/youtubei.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: update metadata title structure in player page
  src/app/player/page.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: implement proper error handling
  src/app/api/admin/cookies/route.ts
  src/app/api/cover/route.ts
  src/app/api/stream/[token]/route.ts
  src/app/api/youtube/search/route.ts
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/not-found.tsx
  src/components/DownloadModal.tsx
  src/components/ErrorBoundary.tsx
  src/components/ErrorScreen.tsx
  src/components/Player.tsx
  src/hooks/useLyrics.ts
  src/hooks/useStretchPlayer.ts
  src/lib/apiError.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: add show-video toggle and YouTube Music ATV handling
  src/app/api/stream/extract/route.ts
  src/app/page.tsx
  src/components/LyricsModal.tsx
  src/components/LyricsPanel.tsx
  src/components/Player.tsx
  src/interfaces.ts
  src/lib/playerPrefs.ts
  src/lib/youtubei.ts
  src/utils/player.ts
  src/utils/reset.ts
  src/utils/streamer.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: add persistent player shell and session restore
  src/app/player/page.tsx
  src/components/HistoryModal.tsx
  src/components/PlayerRouteBridge.tsx
  src/context/AppContext.tsx
  src/lib/lastSession.ts
  src/lib/playerNavigation.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: store global playback prefs separately from track lyrics
  src/hooks/useStretchPlayer.ts
  src/lib/playerPrefs.ts
  src/utils/reset.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: improve home search UX and brand accents
  src/app/page.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: refine player chrome, mobile timer, and lyrics behavior
  src/app/LayoutWrapper.tsx
  src/components/LyricsPanel.tsx
  src/components/Player.tsx
  src/components/PlayerHost.tsx
  src/hooks/useLyrics.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: harden muted video sync and seek-from-end playback
  src/components/Player.tsx
  src/hooks/useSyncedVideo.ts
  src/lib/playerPrefs.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: restore last session as paused mini player
  src/components/Player.tsx
  src/components/PlayerHost.tsx
  src/context/AppContext.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: polish mobile player gestures, session progress, and video wash
  src/components/LyricsPanel.tsx
  src/components/Player.tsx
  src/components/PlayerHost.tsx
  src/context/AppContext.tsx
  src/hooks/usePlayerSheetGestures.ts
  src/hooks/usePlayerTapGestures.ts
  src/hooks/useSyncedVideo.ts
  src/lib/lastSession.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: autoplay when expanding the restored mini player
  src/context/AppContext.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: keep lyrics and video stable across stretch mode switches
  src/components/LyricsPanel.tsx
  src/hooks/useStretchPlayer.ts
  src/hooks/useSyncedVideo.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: show ♪ placeholders during instrumental lyric gaps
  src/components/LyricsPanel.tsx
  src/lib/lyrics.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: redesign homepage around search, recent history, and keyword suggestions
  src/app/api/youtube/search/route.ts
  src/app/api/youtube/suggest/route.ts
  src/app/page.tsx
  src/components/HistoryList.tsx
  src/components/HistoryModal.tsx
  src/components/MediaResultRow.tsx
  src/components/PlayerRouteBridge.tsx
  src/context/AppContext.tsx
  src/lib/youtubei.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

ci: speed up multi-arch publish and trigger Coolify deploy
  .github/workflows/publish.yml
  Dockerfile
Due: none

ci: surface Coolify webhook response body on deploy failure
  .github/workflows/publish.yml
Due: none

feat: fetch Better Lyrics TTML with per-word highlight
  src/app/api/lyrics/route.ts
  src/components/LyricsPanel.tsx
  src/components/Player.tsx
  src/hooks/useLyrics.ts
  src/lib/lyrics.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

feat: Google-style search UX and keep error pages dark
  src/app/LayoutWrapper.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/ErrorScreen.tsx
  src/components/Icon.tsx
  src/context/AppContext.tsx
  src/lib/theme.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

refactor: migrate to Mantine 9, Turbopack, and React 19
  .gitignore
  Dockerfile
  bun.lock
  package-lock.json
  package.json
  scripts/signalsmith.mjs
  src/app/LayoutWrapper.tsx
  src/app/admin/page.tsx
  src/app/global-error.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/CookiesModal.tsx
  src/components/CustomizePlaybackModal.tsx
  src/components/DownloadModal.tsx
  src/components/HistoryList.tsx
  src/components/HistoryModal.tsx
  src/components/LoadingOverlay.tsx
  src/components/LyricsModal.tsx
  src/components/LyricsPanel.tsx
  src/components/MediaResultRow.tsx
  src/components/Player.tsx
  src/components/ResetModal.tsx
  src/hooks/useStretchPlayer.ts
  src/lib/signalsmith.ts
  src/lib/theme.ts
  src/utils/player.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: wire user cookies through search and tighten cookie UX
  src/app/admin/page.tsx
  src/app/api/youtube/search/route.ts
  src/app/api/youtube/suggest/route.ts
  src/app/page.tsx
  src/components/CookiesModal.tsx
  src/lib/cookies.ts
  src/utils/reset.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

ci: switch Docker build from npm to bun
  .gitignore
  Dockerfile
  package-lock.json
Due: bunx prettier --write

feat: harden YouTube usage and cache recent tracks locally
  eslint.config.mjs
  src/app/api/stream/extract/route.ts
  src/app/api/youtube/search/route.ts
  src/app/api/youtube/suggest/route.ts
  src/app/globals.css
  src/app/page.tsx
  src/components/HistoryList.tsx
  src/components/Player.tsx
  src/context/AppContext.tsx
  src/hooks/useStretchPlayer.ts
  src/lib/apiError.ts
  src/lib/constants.ts
  src/lib/playFromCache.ts
  src/lib/rateLimit.ts
  src/lib/rateLimitYouTube.ts
  src/lib/signalsmith.ts
  src/lib/youtubeCircuit.ts
  src/lib/youtubei.ts
  src/utils/cache.ts
  src/utils/reset.ts
  src/utils/streamer.ts
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: make clear recent history actually persist
  src/components/HistoryList.tsx
  src/components/Player.tsx
  src/context/AppContext.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

fix: re-apply custom playback mode when changing tracks
  src/components/Player.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write

docs: update README
  README.md
Due: bunx prettier --write

fix: volume control interaction close on tap
  src/components/Player.tsx
Due: bunx eslint --max-warnings=0, bunx prettier --write
